table#county-totals {
  th,
  td {
    text-align: right;
    padding: 0.5em 1em;
  }

  #county-totals, table {
    border-collapse: collapse !important;
  }

  tr {
    border-bottom: 1px solid #eeeeee;
  }
  
  th {
    font-size:.72em;
    font-weight:normal;
    text-transform: uppercase;
  }

  td {
    vertical-align: middle;
    font-size: 15px;
  }

  th:first-child,
  td:first-child {
    text-align: left;
  }

  tr:first-child {
    border-bottom: 2px solid #E8E8E8;
  }

  td.spark-td {
    max-width: 150px;
  }

  .winners {
    text-align: left;
  }

  .winner-d {
    font-size: 0.8em;
    font-weight:bold;
    background-color: #AED6F1;
    padding: 4px;
    transition: 0.5s all;
    border-radius: 5px;
    color:#ffffff;
  }

  .winner-r {
    font-size: 0.8em;
    font-weight:bold;
    background-color: #F5B7B1;
    padding: 4px;
    transition: 0.5s all;
    border-radius: 5px;
    color:#ffffff;
  }
}


    
@media (max-width:600px) {
  .winners, .current {
    display:none;
  }

  #county-totals {
    font-size:0.8em;
    max-width: 95%;
  }
}