table#county-totals {
  th,
  td {
    text-align: right;
    padding: 0.5em 1em;
  }

  #county-totals, table {
    border-collapse: collapse !important;
  }

  tr {
    border-bottom: 1px solid #eeeeee;
  }
  
  th {
    font-size:.8em;
    font-weight:normal;
    text-transform: uppercase;
    vertical-align: bottom;
  }

  td {
    vertical-align: middle;
    font-size: 15px;
  }

  th:first-child,
  td:first-child {
    text-align: left;
  }

  tr:first-child {
    border-bottom: 2px solid #E8E8E8;
  }

  td.spark-td {
    max-width: 200px;
  }

  .winners {
    text-align: left;
  }

  .winner-d {
    font-size: 0.8em;
    background-color: #D6EAF8;
    padding: 6px;
    transition: 0.5s all;
    border-radius: 5px;
    color:#000000;
  }

  .winner-r {
    font-size: 0.8em;
    background-color: #F2D7D5;
    padding: 6px;
    transition: 0.5s all;
    border-radius: 5px;
    color:#000000;
  }
}


    
@media (max-width:600px) {
  .winners, .spark-td {
    display:none;
  }

  #county-totals {
    font-size:0.8em;
    max-width: 95%;
  }

  .tick:nth-of-type(6n) {
    display:none;
  }
}