.days-left-header {
  text-align: center;
  margin: 4em auto 1em auto;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.days-left-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.preregister-days,
.mailing-days {
  display: block;
  font-size: 2.5em;
  text-align: center;
}

.number {
  font-size:6em;
}

.highlight {
  color: #7D739C;
  font-weight:300;
}

.bolded {
  font-weight:bold;
  font-size:20px;
}

.highlight-under {
  border-bottom: 4px solid #7D739C;
}

.detail-date {
  display: block;
  text-align: center;
}

.date-explainer {
  display: block;
  padding: 0.5em 4em;
  text-align: center;
  font-size: 15px;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing: 1px;
}

.small {
  display: block;
  padding: 0.5em 4em;
  font-size: 0.8em;
  text-align:center;
}

@media (max-width:600px) {
  .date-explainer {
    padding:0;
  }
}