html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
	overflow-y: auto !important;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container-lg {
	max-width:95%;
	margin: auto;
	width:800px;
}

.container-lg a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.buffer { 
	margin:35px;
}

.footnote {
	max-width:100%;
    font-family: "Benton Sans", sans-serif;
    font-size: 12px;
    color: #989898;
    margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.hero-override .article-headline {
    font-family: "Whitman Display",Georgia,Times,serif;
    font-size: 60px !important;
    font-weight: 400 !important;
    text-align: center;
    letter-spacing: -1.85px;
    line-height: 102%;
    margin-top: 0;
}

.hero-override .article-headline, .clean-sheet .hero-override .article-headline {
    max-width: 970px;
    margin: auto;
}

.elexLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px  !important;
	margin-top: 50px  !important;
  }
  
.elexLogo img {
	width: 50px;
}
  
.elexLogo .text {
	font-family: "Benton Sans", sans-serif !important;
	margin-right: 5px;
}
  
.elexLogo h3 {
	font-family: "Popular", sans-serif !important;
	margin-bottom: 0 !important;
	margin-top: 4px !important;
	font-size: 15px !important;
	font-weight: bold !important;
}
  

.hero-override p {
	max-width: 500px;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
    margin-top: 15px;
	margin-bottom: 25px;
	line-height:140%;
	-webkit-font-smoothing: antialiased;
	font-family: "Benton Sans", Helvetica, Arial, sans-serif !important;
}

h3 {
    font-family: "Benton Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size:16px;
	font-weight:bold;
	margin-bottom: 10px;
}

.chartTitle {
    font-size:20px;
	font-weight:bold;
	line-height:140%;
	margin-bottom:15px;
}

.stats {
	margin-bottom:16px;
	font-size:16px;
}

#credits {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 125px;
}

#credits p {
	max-width:100%;
    font-family: "Benton Sans", sans-serif;
    font-size: 12px;
    color: #989898;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

#county-totals, table {
    border-collapse: collapse !important;
  }

.updatedTime {
	font-family: "Benton Sans", sans-serif;
    font-size: 11px !important;
    text-transform: uppercase;
    color: #888888;
    margin-top: 0;
    margin-bottom: 10px;
}