svg {
  text {
    font-family: "Benton Sans", sans-serif;
    font-size: 9px;
  }

  .tick line {
    stroke-width: 0.5px !important;
  }

  .domain {
    stroke-width: 0px !important;
  }

  path.accepted-2018 {
    opacity: 1;
    fill: none;
    stroke: #aaaaaa;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .circle-2018  {
    fill: #FFF;
    stroke: #aaaaaa;
    opacity: 1;
    stroke-width: 1.5px
  }

  path.accepted-2016 {
    opacity: 1;
    fill: none;
    stroke: #cccccc;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .circle-2016  {
    fill: #FFF;
    stroke: #cccccc;
    opacity: 1;
    stroke-width: 1.5px
  }

  path.accepted-2020 {
    fill: none;
    stroke: #7D739C;
    stroke-width: 3px
  }

  .circle-2020 {
    fill: #7D739C !important;
    stroke: #7D739C !important;
    opacity: 1;
    stroke-width: 1.5px
  }

  line.year-total {
    opacity: 1;
    stroke: #333;
    stroke-width: 0.2;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 4 2;
  }

  text.year-total-label {
    font-family: "Benton Sans", sans-serif;
    font-size: 8.5px;
    text-anchor: middle;
    stroke: #a9a9a9;
    stroke-width: 0;
    fill: #A3A3A3;
  }
}

svg.sparkline circle.accepted {
  stroke-width: 1px
}

@media (max-width:600px) {
  text {
    font-size: 14px !important;
  }

  text.year-total-label {
    font-size: 10px !important;
  }
}
