#map-row {
  display: flex;
  justify-content: space-around;

  .map-group {
    width: 45%;

    h3 {
      text-align: center;
    }
  }

  .map-subrow {
    display: flex;
    justify-content: center;
    // width: 33%;
  }

  .map-item {
    margin: 0 1em;

    h4 {
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
  }
}

.iso-map {
  width: 150px;
}

svg {
  .area-feature {
    fill: #EFEFEF;
    // stroke: #DDD;
    stroke-width: 2px;
    opacity: 0.7;
  }

  .highlight-feature {
    fill: #CCC;
    stroke: #FFF;
    stroke-width: 3px;
    opacity: 1;
  }

}

.center {
  margin-top:15px;
  margin-bottom:15px;
}

// .legend {
//   font-size:0.6em;
// }

.legend div {
  height:10px;
  width:16.62%;
  text-align:center;
  font-size:1em;
  display:inline-block;
}

.white {
  background-color:#ffffff;
}

.null {
  fill: #F7F7F7;
  background-color: #F7F7F7;
}

.purple1 {
  fill: #D9D3EB;
  background-color: #D9D3EB;
}

.purple2 {
  fill: #B6AED4;
  background-color: #B6AED4;
}
    
.purple3 {
  fill: #7D739C;
  background-color: #7D739C;
}
    
.purple4 {
  fill: #62597D;
  background-color: #62597D;
}
    
.purple5 {
  fill: #4A4061;
  background-color: #4A4061;
}

.orange1 {
  fill: #cccccc;
  background-color: #cccccc;
}
    
.orange2 {
  fill: #F2C9AC;
  background-color: #F2C9AC;
}
    
.orange3 {
  fill: #DEA381;
  background-color: #DEA381;
}
    
.orange4 {
  fill: #C28059;
  background-color: #C28059;
}
  
.orange5 {
  fill: #8F4B31;
  background-color: #8F4B31;
}

.green1 {
  fill: rgb(200, 233, 228);
  background-color: rgb(200, 233, 228);
}
    
    
.green2 {
  fill: #B6E3A6;
  background-color: #B6E3A6;
}
    
.green3 {
  fill: rgb(66, 159, 150);
  background-color: rgb(66, 159, 150);
}

.green4 {
  fill: #5A9E65;
  background-color: #5A9E65;
}
  
.green5 {
  fill: rgb(0, 60, 48);
  background-color: rgb(0, 60, 48);
}

    
@media (max-width:600px) {
  #map-row {
    display: block !important;
  }
  .map-group {
    width: 100% !important;
  }
}