#map-row {
  display: flex;

  .map-item {
    margin: 0 1em;

    h4 {
      font-size: 0.8em;
      margin-bottom: 0.2em;
    }
  }
}

.iso-map {
  width: 150px;
}

svg {
  .area-feature {
    fill: #EEE;
    // stroke: #DDD;
    stroke-width: 2px;
  }

  .highlight-feature {
    fill: #CCC;
    stroke: #EEE;
  }

}
